#container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
    border: 1px black solid;
}

#gridCreation {
    display: flex;
    margin: 10px auto 30px;
    justify-content: center;
}